* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    }



body{
     background-color: #f5f6ff;
}

header{
    background-image: url('./B12A01-landing-launchpad/Assets/Hero-bg.png');
    height: 698px;

}

.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 60px 120px ;
    list-style: none;
    gap: 16px;
 
}

.logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 34px;
    color: rgb(78,71,255);
}


.btn{
    background-color: rgb(78,71,255);
    color: white;
    height: 48px;
    width: 132px;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
}

.hero-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;

}

.hero-txt{
    font-size: 65px;
    font-weight: bold;

}

.btn-2{
    background-color: rgb(78,71,255);
    color: white;
    height: 48px;
    width: 174px;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    margin: 40px;
    font-weight: bold;

}


    .sections {
      padding: 60px 120px ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .action-items {
      max-width: 400px;
    }
    .sections img {
      max-width: 100%;
      border-radius: 48px;
    }


    .action-items p {
        color: rgb(161, 158, 171);
        font-size: 20px;
        margin-bottom: 40px;
        
    }

    .action-items h2{
        font-size: 42px;
        margin-bottom: 40px;
        font-weight: bold;
        
    }


    .action-items button{
    background-color: rgb(78,71,255);
    color: white;
    height: 48px;
    width: 229px;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    margin-bottom: 50px;
}
    